@model IEnumerable<ShopCakes.Web.Models.Pie>

@section title {
    Accueil
}


@section styles {
    <link rel="stylesheet" href="~/css/home.css"/>
}

<div class="container">
    <div class="row">
        @foreach(var pie in @Model)
        {
            <div class="col-md-4">
                <div class="list-cakes">
                    <img src="@pie.ImageThumbnailUrl" alt=""/>
                    <div class="caption">
                        <h3 class="float-right">@pie.Price.ToString() €</h3>
                        <h3>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@pie.Id">@pie.Name</a>
                        </h3>
                        <p>
                            @pie.ShortDescription
                        </p>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@pie.Id" class="link-detail">Détails <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

